extends ./_layout-root.pug

block content
  .sub-header-dark.section-large.text-center
    .container-readable
      h1.section-title #{page.title}
      if page.description
        p.text-muted.text-large #{page.description}
  .section-medium
    .container-content
      if page.paginated.length === 0
        .section-medium
          p.text-large.text-center Coming Soon..
      each post in page.paginated
        div
          a(href=post.url)
            h2.h3= post.title
          div= post.date
          if post.tags
            each tag in post.tags
              a(href=tag.url)
                div= tag.title
          if post.categories
            each cateogry in post.categories
              a(href=cateogry.url)
                div= cateogry.title
        div!= post.summary
      .grid.section
        .one-half
          if page.prevPath
            span.alignleft &larr; <a href="#{page.prevPath}">Newer</a>
        .one-half
          if page.nextPath
            span.alignright <a href="#{page.nextPath}">Older</a> &rarr;
      .section
        p.text-center Want us to write a guide on a topic you don't see here? <a href="/contact/">Get in touch</a>